@import '../../index.css';

.container{
    height: 454px;
    background-color: var(--cor-azul);
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    .container__logo{
        background-image: url('/public/imagens/logo.png');
        width: 351px;
        height: 117px;
    }
    .container__participante{
        z-index: 1;
    }
}
